---
import Container from "@components/Container.astro";
import TeamsSelectorCards from "@components/TeamsSelectorCards.astro";
import Layout from "@layouts/Layout.astro";
import { getAllTeams, backgroundColor } from "@services/getAllTeams";

export async function getStaticPaths() {
  const teams = await getAllTeams();
  return teams.map((team) => ({
    params: { teamId: team.id },
    props: { ...team },
  }));
}

const {
  id,
  name: teamName,
  imageReverse,
  presidentId,
  coachInfo: { name: coachName },
  channel,
  players,
} = Astro.props;
---

<Layout title={teamName}>
  <section class={`${backgroundColor[id]} text-white relative h-96`}>
    <figure
      class={`absolute inset-0 z-10 bg-[size:90%] bg-center bg-no-repeat opacity-10 `}
      style={`background-image: url(${imageReverse})`}
    >
    </figure>
    <Container>
      <section class="flex items-center justify-around">
        <div class="flex items-center gap-6">
          <img src={imageReverse} alt="" class="w-12" />
          {teamName}
        </div>
        <a href={channel}> Redes</a>
      </section>
      <section>
        <ul>
          <li><b>Presidente :</b> {presidentId}</li>
          <li><b>Entrenador :</b>{coachName}</li>
          <li><b>Players :</b>{players.length}</li>
        </ul>
      </section>
      <section>
        <ul>
          {players.map(({ fullName }) => <li>{fullName}</li>)}
        </ul>
      </section>
    </Container>
  </section>
  <TeamsSelectorCards />
</Layout>
