---
import { convertHeader } from "@services/statistics";
import CardMain from "./CardMain.astro";
import Table from "./Table.astro";

const { keyAmount, statistic, data } = Astro.props;
const [firstObject, ...restOfMvp] = data;
const { playerName, playerImage, imageReverse, team, teamId } = firstObject;
---

<section class="border">
  <h1 class="py-3 pl-4 font-title">{statistic}</h1>
  <CardMain
    statistic={statistic}
    data={{
      amount: firstObject[keyAmount],
      playerName,
      playerImage,
      imageReverse,
      team,
      teamId,
    }}
  />
  <Table header={["RANKING", "EQUIPO", "NOMBRE", convertHeader(statistic)]}>
    {
      restOfMvp.map((data) => {
        const { rank, image, team, playerName } = data;
        return (
          <tr class="border-b bg-white text-center ">
            <th scope="row" class="font-title whitespace-nowrap py-1">
              {rank}
            </th>
            <td class="px-4  py-1 ">
              <img src={image} alt={team} class="mx-auto h-10 w-10" />
            </td>
            <td class="px-4  py-1"> {playerName}</td>
            <td class="px-4  py-1"> {data[keyAmount]}</td>
          </tr>
        );
      })
    }
  </Table>
</section>
