---
import Logo from "./Logo.astro";

interface Team {
  id: string;
  name: number;
  image: string;
  presidentId: number;
  channel: string;
  socialNetworks: string[];
}

const routes = [
  {
    name: "Equipos",
    url: "/equipos",
  },
  {
    name: "Calendario",
    url: "/calendario",
  },
  {
    name: "Estadisticas",
    url: "/estadisticas",
  },
  {
    name: "Contacto",
    url: "/contacto",
  },
  {
    name: "Reglamento",
    url: "/reglamento",
  },
];

const res = await fetch(
  "https://kings-league-api.bryan-armando.workers.dev/teams"
);
const teams = await res.json();
---

<header
  class="flex items-center gap-x-6 bg-gradient-to-l from-[#e8521e] via-[#f7ab35] to-[#f7ab35] p-4"
>
  <Logo />
  <div class="flex flex-col gap-2">
    <nav>
      <ul class="flex gap-3 rounded-full bg-white/20 px-4 py-2">
        {
          teams.map(({ id, name, image }: Team) => (
            <li>
              <a
                href={`/team/${id}`}
                class=" block transition-all hover:scale-125"
              >
                <img
                  src={image}
                  class="h-8 w-8 drop-shadow-[0px_0px_3px_#111]"
                  alt={`Escudo del equipo ${name}`}
                />
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <nav>
      <ul
        class="flex justify-center gap-6 text-sm text-white [&>li>a:hover]:underline [&>li>a:hover]:opacity-100 [&>li>a]:opacity-80"
      >
        {
          routes.map(({ name, url }) => (
            <li>
              <a
                href={url}
                class={`${Astro.url.pathname === url && "underline"} `}
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
