---
import { getAllTeams } from "@services/getAllTeams";
import Logo from "./Logo.astro";

interface Team {
  id: string;
  name: number;
  image: string;
  presidentId: number;
  channel: string;
  socialNetworks: string[];
}

const routes = [
  {
    name: "Equipos",
    url: "/equipos",
  },
  {
    name: "Calendario",
    url: "/calendario",
  },
  {
    name: "Estadisticas",
    url: "/estadisticas",
  },
  {
    name: "Contacto",
    url: "/contacto",
  },
  {
    name: "Reglamento",
    url: "/reglamento",
  },
];

const teams = await getAllTeams();
---

<header class="flex flex-col gap-2 bg-[#e8521e] p-4">
  <nav class="relative hidden md:block">
    <ul
      class="flex flex-wrap items-center justify-center gap-3 rounded-full px-4 py-2"
    >
      {
        teams.map(({ id, name, image }: Team, i: Number) => (
          <>
            {i === 6 && (
              <li class="z-10">
                <Logo />
              </li>
            )}
            <li class="z-10">
              <a
                href={`/team/${id}`}
                class=" block transition-all hover:scale-125"
              >
                <img
                  src={image}
                  class="h-10 w-10 "
                  alt={`Escudo del equipo ${name}`}
                  width="40"
                  height="40"
                />
              </a>
            </li>
          </>
        ))
      }
    </ul>
    <div
      class="absolute top-1/2 left-1/2 h-[70%] w-full -translate-x-1/2 -translate-y-1/2 rounded-full border-2 border-[#f7ab35] bg-black lg:max-w-5xl"
    >
    </div>
  </nav>
  <div class="flex items-center justify-between md:hidden">
    <Logo />
    <button class="block h-12" id="togglemenu">
      <img
        src="/logos/hamburger.svg"
        alt="Kings-league infojobs logo"
        class="h-full transition"
      />
    </button>
  </div>
  <nav class="">
    <ul
      id="menu"
      class="fixed inset-x-0 z-20 flex h-[calc(100%-118.22px)] flex-col items-center gap-y-6 bg-white p-8 text-sm text-black transition-all duration-1000 md:static md:flex-row md:justify-center md:gap-6 md:gap-y-0 md:bg-inherit md:p-0 md:font-normal md:text-white md:transition-none [&>li>a:hover]:opacity-100 [&>li>a]:opacity-80"
    >
      {
        routes.map(({ name, url }) => (
          <li>
            <a
              href={url}
              class={`hover:text-[#e8521e] md:hover:text-black ${
                Astro.url.pathname === url && "pointer-events-none  underline"
              } `}
            >
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  const toogleMenuEl = document.getElementById("togglemenu");
  const imageButton = toogleMenuEl.querySelector("img");
  console.log(imageButton.src);
  const menuEl = document.getElementById("menu");
  menuEl.classList.add("-bottom-full");

  toogleMenuEl.addEventListener("click", openMenu);
  function openMenu() {
    if (menuEl.classList.contains("-bottom-full")) {
      menuEl.classList.add("bottom-0");
      // document.body.classList.add("overflow-y-hidden");
      menuEl.classList.remove("-bottom-full");
      imageButton.src = "/logos/close.svg";
    } else {
      menuEl.classList.add("-bottom-full");
      menuEl.classList.remove("bottom-0");
      document.body.classList.remove("overflow-y-hidden");
      imageButton.src = "/logos/hamburger.svg";
    }
  }
</script>
