---
import Logo from "./Logo.astro";

interface Team {
  id: string;
  name: number;
  image: string;
  presidentId: number;
  channel: string;
  socialNetworks: string[];
}

const routes = [
  {
    name: "Equipos",
    url: "/equipos",
  },
  {
    name: "Calendario",
    url: "/calendario",
  },
  {
    name: "Estadisticas",
    url: "/estadisticas",
  },
  {
    name: "Contacto",
    url: "/contacto",
  },
  {
    name: "Reglamento",
    url: "/reglamento",
  },
];

const res = await fetch(
  "https://kings-league-api.bryan-armando.workers.dev/teams"
);
const teams = await res.json();
---

<header class="flex flex-col gap-2 bg-[#e8521e] p-4">
  <nav class="relative">
    <ul class="flex items-center justify-center gap-3 rounded-full px-4 py-2">
      {
        teams.map(({ id, name, image }: Team, i: Number) => (
          <>
            {i === 6 && (
              <li class="z-10">
                <Logo />
              </li>
            )}
            <li class="z-10">
              <a
                href={`/team/${id}`}
                class=" block transition-all hover:scale-125"
              >
                <img
                  src={image}
                  class="h-10 w-10 drop-shadow-[0px_0px_3px_#bbb]"
                  alt={`Escudo del equipo ${name}`}
                />
              </a>
            </li>
          </>
        ))
      }
    </ul>
    <div
      class="absolute top-1/2 left-0 h-[70%] w-full -translate-y-1/2 rounded-full border-2 border-[#f7ab35] bg-black"
    >
    </div>
  </nav>
  <nav>
    <ul
      class="flex justify-center gap-6 text-sm text-white [&>li>a:hover]:underline [&>li>a:hover]:opacity-100 [&>li>a]:opacity-80"
    >
      {
        routes.map(({ name, url }) => (
          <li>
            <a
              href={url}
              class={`${Astro.url.pathname === url && "underline"} `}
            >
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
